body, html {
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    height: 100%;
}

.navbar {
    background-color: #D7E8D4;
    flex: 1;
}

.content {
    flex: 5;
    display: flex;
    flex-direction: column;
}

header, footer {
    background-color: yellowgreen;
    flex: 1;
    padding: 1em;
}

.main-content {
    flex: 4;
    display: flex;
}

article {
    flex: 3;
    min-height: 60vh;
    padding: 1em;
}

aside {
    flex: 1;
    padding: 1em;
}
